.App {
  border: 15px solid #e9c46a;
  height: 1000px;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  background-color: #2a9d8f;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
